/* ---------- КАРТОЧКА ПЕРСОНАЖА ---------- */

.card-link * {
  margin: 0;
}

/* Обертка для ссыллок */
.card-link {
  text-decoration: none;
  color: inherit;
  display: block;
  height: 100%;
  width: 100%;
}

/* Контейнер для карточки*/
.card {
  background-color: var(--color-bg-card);
  color: var(--color-text);
  
  border-radius: var(--radius-lg);
  padding: var(--space-md);
  box-sizing: border-box;

  overflow: hidden;
  display: flex;
  flex-direction: column;

  height: 100%;
  width: 100%;

  border: 2px solid transparent; /* Рамка */
  transition: transform var(--transition-standart), var(--transition-standart), border-color var(--transition-standart);
}

/* Реакция карточки при наведении */
.card:hover {
  transform: translateY(calc(-1 * var(--space-sm)));
}

/* Текст внутри карточки */
.card__content {
  display: flex;
  flex-direction: column;

  font-size: 1rem; /* Пусть будет для показательности */

  gap: var(--space-sm);
  margin-bottom: var(--space-md);
}

/* Имя и статус персонажа */
.card__title,
.card__status {
  /* margin: 0; */
  color: var(--color-accent);
}

/* Имя персонажа */
.card__title {
  font-size: 1.2rem;
}

/* Статус персонажа */
.card__status {
  font-size: 0.8rem;
}

.card__image {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;

  border-radius: var(--radius-sm);
  margin-top: auto;
}

/* Alive */
.card--alive,
.card.status-alive {
  border-color: var(--color-alive);
  box-shadow: 0 0 16px rgba(0, 255, 102, 0.5),
              inset 0 0 8px rgba(0, 255, 102, 0.25);
}

.card--alive:hover,
.card.status-alive:hover {
  border-color: var(--color-alive-hover, #55ff99);
  box-shadow: 0 0 32px rgba(0, 255, 102, 0.75),
              0 0 64px rgba(0, 255, 102, 0.35),
              inset 0 0 16px rgba(0, 255, 102, 0.4);
}

/* Dead */
.card--dead,
.card.status-dead {
  border-color: var(--color-dead);
  box-shadow: 0 0 16px rgba(255, 42, 42, 0.5),
              inset 0 0 8px rgba(255, 42, 42, 0.25);
}

.card--dead:hover,
.card.status-dead:hover {
  border-color: var(--color-dead-hover, #ff6666);
  box-shadow: 0 0 32px rgba(255, 42, 42, 0.75),
              0 0 64px rgba(255, 42, 42, 0.35),
              inset 0 0 16px rgba(255, 42, 42, 0.4);
}

/* Unknown */
.card--unknown,
.card.status-unknown {
  border-color: var(--color-unknown);
  box-shadow: 0 0 16px rgba(255, 204, 0, 0.5),
              inset 0 0 8px rgba(255, 204, 0, 0.25);
}

.card--unknown:hover,
.card.status-unknown:hover {
  border-color: var(--color-unknown-hover, #ffdd55);
  box-shadow: 0 0 32px rgba(255, 204, 0, 0.75),
              0 0 64px rgba(255, 204, 0, 0.35),
              inset 0 0 16px rgba(255, 204, 0, 0.4);
}