:root {
  /* ---------- ОСНОВНЫЕ ЦВЕТА ---------- */
  --color-bg-main: #080d1a; /* Основной фон сайта */
  --color-bg-surface: #08192d; /* Фон плавающих блоков, инпутов, плашек */
  --color-bg-overlay: rgba(15, 5, 10, 0.85); /* Фон для ошибок и оверлеев */
  --color-bg-card: #000000; /* Чёрный фон карточек */

  --color-text: #ffffff; /* Основной белый текст */
  --color-text-muted: #aaaaaa; /* Приглушённый текст */

  --color-accent: #00f0ff; /* Единый неоновый голубой */
  --color-error: #ff5555; /* Красный цвет ошибок */

  /* ---------- СТАТУСЫ ПЕРСОНАЖЕЙ ---------- */
  --color-alive: #00ff66; /* Зелёный */
  --color-dead: #ff2a2a; /* Красный */
  --color-unknown: #ffcc00; /* Жёлтый */

  /* ---------- НЕОНОВОЕ СВЕЧЕНИЕ ---------- */
  --glow-accent: 0 0 16px rgba(0, 240, 255, 0.5);
  --glow-accent-lg: 0 0 32px rgba(0, 240, 255, 0.9);
  --glow-error: 0 0 16px rgba(255, 85, 85, 0.4);

  --glow-inset-sm: inset 0 0 8px rgba(0, 240, 255, 0.2);
  --glow-inset-lg: inset 0 0 16px rgba(0, 240, 255, 0.4);

  --shadow-input: var(--glow-accent), var(--glow-inset-sm);
  --shadow-input-focus: var(--glow-accent-lg), var(--glow-inset-lg);

  /* ---------- СЕТКА ---------- */
  --space-sm: 8px; /* Мелкие зазоры */
  --space-md: 16px; /* Базовый отступ элементов */
  --space-lg: 32px; /* Крупные отступы секций */
  --space-xl: 64px; /* Большие внешние отступы */

  /* ---------- СКРУГЛЕНИЯ ---------- */
  --radius-sm: 8px; /* Кнопки, инпуты, теги, картинки */
  --radius-lg: 16px; /* Крупные карточки и модальные окна */

  /* ---------- МАКСИМАЛЬНАЯ ШИРИНА ---------- */
  --layout-max-width: 2048px;
  --layout-detail-width: 1024px;

  /* ---------- АНИМАЦИЯ ---------- */
  --transition-standart: 0.4s ease;
  --transition-standart-boost: 0.4s ease-in-out;
}